.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 10px;
  height: auto;
  width: 95%;
  margin: auto;
  }

.topicsCard {
  font-size: small;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 6px 16px 52px 24px;
  color: white;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: flex-end;
}


.card-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 350px;
}

.topicsCard h2 {
  font-size: 2em;
}

.topicsCard h3 {
  font-size: medium;
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 200;
}

.btn-ghost {
  background-color: none;
  color: white;
  border-color: white;
  border-radius: 0%;
}

.five-min {
  font-family:'Archivo Narrow', sans-serif;
  font-size: 9px;
  height: 5em;
  width: 5em;
  color: white;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row: 1;
  margin-top: 7em;
}

.line1 {
  border-bottom: 1px solid white;
  height: 5em;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row: 1;
}

.line2 {
  border-right: 1px solid white;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 2;
  height: 15em;
  margin-top: 1em;
  width: 14em;
}

.topicsCard-0 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 1;
  margin-top: 2em;
  height: 26em;
  width: 93%;
  padding-right: 132px;
}

.topicsCard-1 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row: 1;
  height: 20em;
  margin-top: 7em;
  border-top: solid;
  border-top: white;
  padding-bottom: 2em;
}

.topicsCard-2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
  height: 19em;
  width: 37em;
  margin-top: 1em;
  padding-bottom: 2em;
}
.topicsCard-3 {
  grid-column: 3;
  grid-row: 3;
}
.topicsCard-4 {
  grid-column: 2;
  grid-row: 4;
}
.topicsCard-5 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row: 2;
  margin-top: 1em;
  height: 19em;
  padding-bottom: 2em;
}

.topicsCard-6 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row: 4;
}

.topicsCard-7 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 2;
  height: 19em;
  width: 18em;
  margin-top: 1em;
  margin-left: -2em;
  padding-bottom: 2em;
}

.read-more {
  margin-right: 9px;
}

.Unsubscribe {
  margin-bottom: 9px;
}
