// Specific CSS for your home-page
body {
	background-color: #363D2F;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(224, 231, 225);
}

#title {
  font-size: 120px;
  color: white;
  animation: flip 8s infinite;
  animation-delay: calc(2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg)
  }
}

#sub-title {
  font-size: 50px;
  color: white;
  a {
    color: white;
    text-decoration: none;
    font-size: 50px;
  }
  a:hover {
    color: white;
    background-color: #363D2F;
    text-decoration: none;
    font-size: 50px;
  }
}

#animate {
  color: white;
}
.h1 .h2 .h2 {
  color: white;
}

.homecontainer {
  bottom: 0;
}

.front-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  justify-items: center;
  margin-top: 10%;
}

.text-dark {
  color: white;
}

.a {
  text-decoration: none;
  color: white;
}

.a:hover {
  color: rgb(112, 119, 110);
}

.welcome-btn {
  background-color: white;
  color: #363D2F;
  border: white;
}

.welcome-btn:hover {
  border: white;
  border-width: 20px;
  background-color: #363D2F;
  color: white;
}


.welcome-btn {
  background-color: transparent;
  border: none;
  color: #363D2F;
  outline: none;
  padding: 1px 1px 1px;
  position: relative;
  text-decoration: none;
}

.welcome-btn:before,
.welcome-btn:after {
  border: 0 solid transparent;
  transition: all 0.3s;
  content: '';
  height: 0;
  position: absolute;
  width: 24px;
}

// .welcome-btn:before {
//  border-top: 1px solid white;
//  right: 0;
//  top: -4px;
// }

.welcome-btn:after {
  border-bottom: 1px solid white;
  bottom: -4px;
  left: 0;
}

.welcome-btn:hover:before,
.welcome-btn:hover:after {
  width: 100%;
  text-decoration: none;
  background-color: #363D2F;
  color: white;
}
