<div class="container">
  <div class="containerTitleTopic row">
  <div class="col-6 mb-5">
    <h2>Choose your topics</h2>
  </div>
</div>

 <% @topics.each do |topic| %>
      <div class="container subtopicContainer">
      <div class="row">
          <div class="col cardSubtopic">
             <strong><%= topic.title %></strong>
             <small ><%= link_to topic_subtopics_path(topic) do %>
              <i class="fa fa-plus" aria-hidden="true"></i>
             <% end %>
             </small>
            </div>
          <hr>
        </div>
    </div>
  <% end %>
</div>
