<div class="footer">
  <div class="footer-links">
    <%=link_to 'Change topics', topics_path %>
    <%=link_to 'About inCharge', about_path %>

  </div>
  <div class="footer-copyright">
    Be <i class="fas fa-bolt"></i> inCharge
  </div>
</div>
