<div class="footer">
  <div class="footer-links">
    <%=link_to 'change topics', topics_path %>
    <%=link_to 'about inCharge', about_path %>
    <%=link_to 'sign out', destroy_user_session_path %>
 </div>
</div>
