  <div class="containerTitle row">
  <div class="col-6">
    <h2>Sub-topics</h2>
  </div>
  <div class="col-6">
    <%=link_to 'Back to topics', topics_path, class: "btn btn-light btnSubtopic"%>
  </div>
</div>


    <% @subtopics.each do |subtopic| %>
      <div class="container subtopicContainer">
      <div class="row">
          <div class="col cardSubtopic">
             <strong><%= subtopic.title %></strong>
             <small ><%= link_to subtopic_tiles_path(subtopic) do %>
              <i class="fa fa-plus" aria-hidden="true"></i>
             <% end %>
             </small>
            </div>
          <hr>
        </div>
    </div>
  <% end %>
