<h1> Your Subscriptions </h1>
  <% @subscriptions.each do |subscription| %>
    <h1><%= subscription.tile.title %></h1>
    <h3><%= subscription.tile.summary %></h3>
    <%= cl_image_tag subscription.tile.photos[0].key %>
    <%= cl_image_tag subscription.tile.photos[1].key %>
  <br>
  <% end %>
