.main-container{
  min-height:80vh;
 }

.footer {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // min-height: 150px;
  padding: 0px 50px;
  color: white;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  opacity: 0.8;
  font-family: 'tenor Sans', sans-serif;
}
.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  padding: 0 30rem 0 3.125rem;
}
.footer-links a:hover {
  opacity: 1;
  color: rgb(116, 151, 106);
}
.footer .fa-bolt {
  color: rgb(0,112,112);
}
