.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

//Items & search bar

.nav-item {
  margin-left: 0.8em;
  margin-right: 0.8em;
  padding-top: 0;
 a {
  color: rgb(255, 255, 255);
  text-decoration: none;
 }
}

.navbar-nav {
  justify-content: center;
  align-items: center;
  form {
    display: flex;
    width: 80%;
    height: 80%;
  }
}

#navbar-greeting {
  color: white;
  font-weight: 100;
}

.avatar {
  width: 40px;
  border: 1px solid white;
}

.navbar-search {
  align-items: center;
  width: 15em;
  height: 2em;
}


.dropdown-menu.show {
  background-color: #363D2F;
  border-right-color: white;
}

.dropdown-item {
  text-align: right;
}

.dropdown-menu:hover .dropdown-menu.show {
  display: block;
}


.searchrow {
  width: 57em;
  display: flex;
  justify-items: start;
}

.btn-outline-secondary {
  border-radius: 0px;
  border-color: white;
  border-right: none;
}

.btn-outline-secondary:focus {
  box-shadow: none;
}

.btn-dark {
  border: 1px solid white;
  border-left: none;
  background-color: transparent;
  border-radius: 0px;
}

.barquery {
  border-right: none;
}


.btn-dark:hover .btn-dark:active {
  background-color: transparent;
}

.btn-dark:hover {
  color: #fff;
  background-color: transparent;
  border-color: white;
}

.btn-dark:focus {
  border-right: none;
}

.btn-dark:active {
  border-right: none;
}
