.containerTitle {
  justify-content: center;
  color: white;
}

.subtopicContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: larger;
  // margin-bottom: 1.25em;
  hr {
    min-width: 500px;
    align-items: center;
    margin-bottom: 2em;
    margin-top: 2em;
  }
    a {
      color: white;
      text-decoration: none;
    }
      a:hover {
        color: white;
        text-decoration: none;
      }
}

.btnSubtopic {
  margin-right: 5px;
  margin-left: auto;
  display: table;
}
// .cardSubtopic {
//   background-color: #363D2F;
// }


.animated-border-button:hover {
  border: white;
  border-width: 20px;
  background-color: #363D2F;
  color: white;
}
.animated-border-button {
  margin-right: 5px;
  margin-left: auto;
  display: table;
  background-color: white;
  border: none;
  color: #363D2F;
  border: white;
  outline: none;
  padding: 5px 10px;
  position: relative;
  text-decoration: none;
  font-size: 18px;
}

.animated-border-button:before,
.animated-border-button:after {
  border: 0 solid transparent;
  transition: all 0.3s;
  content: '';
  height: 0;
  position: absolute;
  width: 24px;
}

.animated-border-button:before {
  border-top: 2px solid white;
  right: 0;
  top: -4px;
}

.animated-border-button:after {
  border-bottom: 2px solid white;
  bottom: -4px;
  left: 0;
  text-decoration: none;
}

.animated-border-button:hover:before,
.animated-border-button:hover:after {
  width: 100%;
  text-decoration: none;
  background-color: #363D2F;
  color: white;
}
