.containerTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rowSubtopics {
  display: flex;
  width: 50%;
  align-items: end;
  justify-content: space-between;
}

.containerSubtopics {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
